*{
      font-family: 'Noto Sans', sans-serif;
}
body{
      margin: 0;padding: 0;
}
/* common area > importent class started */

.row{
      width: 96%;
      padding-left: 2%;
      padding-right: 2%;
      overflow: hidden;
}
.col-50{
      width: 40%;
      padding-left: 2%;
      padding-right: 2%;
      float: left;
}
.col-33{
      width: 30%;
      float: left;
}

/* common area > importent class ended */


/* NAVBAR START */
.navbar-section{
      float:right;
      padding-right: 40px;
}
.navbar-section ul{
      margin: 0;padding: 0;
      padding-left: 20px;
}
.navbar-section ul li{
      list-style:none;
      float: left;
}
.navbar-section ul li a{
      text-decoration:none;
      display: inline-block;
      color: #1d1c1c;
      padding-top: 40px;
      padding-left: 20px;

}
/* NAVBAR END */

/* 1ST SECTION START  */
.top-secton {
    font-size: 50px;
    padding-top: 80px;
}
.color-highlight{
      color:tomato;
}
.button{
      text-decoration: none;
      color: #ffffff;
      background:tomato;
      padding: 10px 20px;
      border-radius:5px;
}
.col-50 img{
     width: 100%;
     padding-left: 30px;
     padding-top: 50px;
}

/* 1ST SECTION END  */
/* ABOUT SECTION START  */
.socond-section{
      font-size: 50px;
      color:#191931
}
.about{
      padding-top: 5%;
      padding-left: 10%;
}
.about p{
      padding-bottom: 30px;
}

/* ABOUT SECTION END  */

/* card section started */
.bg{
      background:#F8F9FC;
      border-radius:5px;
      padding-bottom: 200px;
}

.bg-whit{
      background: #ffffff;
      margin: 10px;
      padding: 10px;
      border-radius: 15px;
      box-shadow: 1px 1px 10px 1px #d3d0d0;
}
.working-section{
      text-align: center;
      padding: 40px 0;
}
.row .col-33 img{
      margin-left: 40px;
      margin-top: 10px;
}

.contait{
      width: 100%;
}
.contait img{
      width: 70%;
      height: 200px;
      position: relative;
      padding:0 15%
}
.contait h2 {
      margin: 0;
      padding: 4% 0;
      display: inline-block;
      position: absolute;
      left: 18%;
      font-size: 60px;
      font-weight: 1000;
      color:#fff;
  }
  .contait .push {
      margin-top: 6%;
      position: absolute;
      right: 18%;
      color: #fff;
  }
.push{
      float: right;
}
.col-center{
      text-align: center;
}
.col-center h2{
      margin: 0;
      color:#CBCBCE;
      padding-top: 80px;
      padding-bottom: 10px;
      font-size: 22px;
}
.col-center h3{
      margin: 0;
      font-size: 60px;
      padding-bottom: 20px;
}
.col-center img {
      margin: 1%;
      padding-bottom: 20px;
      width: 5%;
  }

.col-form{
      width: 70%;
      margin: 0 12%;
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-top: 50px;
      background-color: #e6e6e6;
      font-size:28px;
      box-shadow: 1px 1px 10px 1px #d3d0d0;
}
.form-control{
      width: 600px;
      padding:8px 5px;
      margin: 5px 0;
      border: 0;
      border-radius:5px;
      font-size: 16px;
}
.submit{
      padding: 10px 20px;
      background:#a5a5a5;
      border-radius:10%;
      border:0;
      margin-bottom: 30px;
}
.form-name-sange{
      color:#8a8a8a;
      margin-right: 20px;
}
.legend-name-sange{
      text-align: center;
      padding-top: 20px;
      padding-bottom: 30px;
      color:#cfb78c
}